.news,
.news-main,
.series_post,
.post,
.blogArchive {
	@include single-column {
		.headerHero {
			margin-bottom: 30px;
		}
	}
	.selArticle {
		@include box-shadow;
		.selArticleHeader {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 30px;
			.date {
				background-color: $pri_orange;
				padding: 15px;
				text-align: center;
				p {
					margin-bottom: 0;
					font-weight: bold;
					@include x-rem(font-size, 1.4);
					color: #fff;
				}
			}
			h1 {
				margin-left: 15px;
			}
		}
		.selArticleContent {
			@include lists;
		}
		.selArticleDisqus {
			margin-top: 100px;
		}
		.selArticleSeries {
			p {
				color: $pri_blue;
				font-weight: bold;
				margin-bottom: 0;
				i {
					font-style: italic;
				}
			}
		}
	}
	
	.latestArticles {
		@include single-column {
			margin: 60px 0;
		}
		h2 {
			margin-bottom: 15px;
		}
		.btn.sec {
			margin-top: 20px;
		}
		ul {
			li {
				margin-bottom: 15px;
				p {
					color: $pri_text;
					margin-bottom: 0;
					@include x-rem(font-size, 1.2);
				}
			}
		}
	}
}