{% include topbar.html %}
<div class="main">
	<div class="container rel">
		<div class="hexagons"></div>
		<div class="row rel">
			<div class="span4">
				<div class="home-box">Build powerful concurrent & distributed applications<br/><span class="bold">more easily</span>.</div>
        <div class="home-small-box">Akka is a toolkit and runtime<br/> for building highly concurrent,<br/> distributed, and resilient<br/> message-driven applications<br/> on the JVM.<br/><br/>The power of Akka is also available on the .NET Framework<br/>and Mono via the <a href="http://getakka.net">Akka.NET project</a>.</div>
			</div>
			<div class="span8">
                <nav class="social">
                    <a href="//groups.google.com/forum/#!forum/akka-user"><span>Mailing list</span></a>
                    <a href="//twitter.com/akkateam"><span>Twitter</span></a>
                    <a href="//plus.google.com/114326885696077784401"><span>Google+</span></a>
                    <a href="//github.com/akka/akka"><span>Github</span></a>
                    <a href="//stackoverflow.com/questions/tagged/akka"><span>Stackoverflow</span></a>
                </nav>
				<div class="simple-concurrency">Simple Concurrency & Distribution
					<p>Asynchronous and Distributed by Design. High-level abstractions like Actors, Streams and Futures.</p>
				</div>
				<div class="fault-tolerance">Resilient by Design
					<p>Write systems that self-heal. Remote and local supervisor hierarchies.</p>
				</div>
				<div class="high-performance">High Performance
					<p>50 million msg/sec on a single machine. Small memory footprint; ~2.5 million actors per GB of heap.</p>
				</div>
				<div class="no-global-state" style="width:220px;">Elastic & Decentralized
					<p>Adaptive cluster management, load balancing, routing, partitioning and sharding.</p>
				</div>
				<div class="extensible">Extensible
					<p>Use Akka Extensions to adapt Akka to fit your needs.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div class="light-strip under-main">
	
    <div class="container pad">

		<div class="row normal">
	    <div id="slider">
	        <ul class="navigation breadcrumb">
	            <li><a href="#actors">Actors</a></li>
	            <li><a href="#remoting">Remoting</a></li>
	            <li><a href="#supervision">Supervision</a></li>
	        </ul>
	        <div class="selected-arrow"></div>

	        <div class="scroll" style="height: 620px">
            <div class="scrollContainer">
	            <div class="panel" id="actors">
	            	<h2>Actors</h2>
	            	<p>Actors are very lightweight concurrent entities. They process messages asynchronously using an event-driven receive loop. Pattern matching against messages is a convenient way to express an actor's behavior. They raise the abstraction level and make it much easier to write, test, understand and maintain concurrent and/or distributed systems. You focus on workflow—how the messages flow in the system—instead of low level primitives like threads, locks and socket IO. <a href="http://doc.akka.io/docs/akka/snapshot/general/actors.html">Learn More.</a></p>
	            	<div class="language-header"><div class="scala-header"><a href="http://doc.akka.io/docs/akka/snapshot/scala/actors.html"><img src="{{ site.baseurl }}/resources/images/scala-sm.png"/></a></div><div class="java-header"><a href="http://doc.akka.io/docs/akka/snapshot/java/untyped-actors.html">Java</a></div></div>
	            	<div class="scala-codebox">
<pre class="prettyprint lang-scala linenums">
case class Greeting(who: String)

class GreetingActor extends Actor with ActorLogging {
  def receive = {
    case Greeting(who) ⇒ log.info("Hello " + who)
  }
}

val system = ActorSystem("MySystem")
val greeter = system.actorOf(Props[GreetingActor], name = "greeter")
greeter ! Greeting("Charlie Parker")
</pre>
								</div>
	            	<div class="java-codebox">
<pre class="prettyprint lang-java linenums">
public class Greeting implements Serializable {
  public final String who;
  public Greeting(String who) { this.who = who; }
}

public class GreetingActor extends UntypedActor {
  LoggingAdapter log = Logging.getLogger(getContext().system(), this);

  public void onReceive(Object message) throws Exception {
    if (message instanceof Greeting)
      log.info("Hello " + ((Greeting) message).who);
  }
}

ActorSystem system = ActorSystem.create("MySystem");
ActorRef greeter = system.actorOf(Props.create(GreetingActor.class), "greeter");
greeter.tell(new Greeting("Charlie Parker"), ActorRef.noSender());
</pre>
								</div>
	            </div>
	            <div class="panel" id="remoting" style="height: 1200px">
<h2>Remoting</h2>
<p>Actors are location transparent and distributable by design. This means that you can write your application without hardcoding how it
will be deployed and distributed, and then later just configure your actor system against a certain topology with all of the application’s
semantics, including actor supervision, retained. <a href="http://doc.akka.io/docs/akka/snapshot/general/remoting.html">Learn more.</a></p>
	            	<div class="language-header"><div class="scala-header"><a href="http://doc.akka.io/docs/akka/snapshot/scala/remoting.html"><img src="{{ site.baseurl }}/resources/images/scala-sm.png"/></a></div><div class="java-header"><a href="http://doc.akka.io/docs/akka/snapshot/java/remoting.html">Java</a></div></div>
	            	<div class="scala-codebox">
<pre class="prettyprint lang-scala linenums">
// ------------------------------
// config on all machines
akka {
 actor {
   provider = akka.remote.RemoteActorRefProvider
   deployment {
     /greeter {
       remote = akka.tcp://MySystem@machine1:2552
     }
   }
 }
}

// ------------------------------
// define the greeting actor and the greeting message
case class Greeting(who: String) extends Serializable

class GreetingActor extends Actor with ActorLogging {
  def receive = {
    case Greeting(who) ⇒ log.info("Hello " + who)
  }
}

// ------------------------------
// on machine 1: empty system, target for deployment from machine 2
val system = ActorSystem("MySystem")

// ------------------------------
// on machine 2: Remote Deployment - deploying on machine1
val system = ActorSystem("MySystem")
val greeter = system.actorOf(Props[GreetingActor], name = "greeter")

// ------------------------------
// on machine 3: Remote Lookup (logical home of “greeter” is machine2, remote deployment is transparent)
val system = ActorSystem("MySystem")
val greeter = system.actorSelection("akka.tcp://MySystem@machine2:2552/user/greeter")
greeter ! Greeting("Sonny Rollins")
</pre>
								</div>
	            	<div class="java-codebox">
<pre class="prettyprint lang-java linenums">
// ------------------------------
// config on all machines
akka {
  actor {
    provider = akka.remote.RemoteActorRefProvider
    deployment {
      /greeter {
        remote = akka.tcp://MySystem@machine1:2552
      }
    }
  }
}

// ------------------------------
// define the greeting actor and the greeting message
public class Greeting implements Serializable {
  public final String who;
  public Greeting(String who) { this.who = who; }
}

public class GreetingActor extends UntypedActor {
  LoggingAdapter log = Logging.getLogger(getContext().system(), this);

  public void onReceive(Object message) throws Exception {
    if (message instanceof Greeting)
      log.info("Hello " + ((Greeting) message).who);
  }
}

// ------------------------------
// on machine 1: empty system, target for deployment from machine 2
ActorSystem system = ActorSystem.create("MySystem");

// ------------------------------
// on machine 2: Remote Deployment - deploying on machine1
ActorSystem system = ActorSystem.create("MySystem");
ActorRef greeter = system.actorOf(Props.create(GreetingActor.class), "greeter");

// ------------------------------
// on machine 3: Remote Lookup (logical home of “greeter” is machine2, remote deployment is transparent)
ActorSystem system = ActorSystem.create("MySystem");
ActorSelection greeter = system.actorSelection("akka.tcp://MySystem@machine2:2552/user/greeter");
greeter.tell(new Greeting("Sonny Rollins"), ActorRef.noSender());
</pre>
								</div>
	            </div>
	            <div class="panel" id="supervision" style="height: 750px">
	            	<h2>Supervision</h2>
	            	<p>Actors form a tree with actors being parents to the actors they've created. As a parent, the actor is responsible for handling its
children’s failures (so-called supervision), forming a chain of responsibility, all the way to the top. When an actor crashes, its
parent can either restart or stop it, or escalate the failure up the hierarchy of actors. This enables a clean set of semantics for
managing failures in a concurrent, distributed system and allows for writing highly fault-tolerant systems that self-heal. <a href="http://doc.akka.io/docs/akka/snapshot/general/actor-systems.html">Learn more.</a></p>
								<div class="language-header"><div class="scala-header"><a href="http://doc.akka.io/docs/akka/snapshot/scala/fault-tolerance.html"><img src="{{ site.baseurl }}/resources/images/scala-sm.png"/><a/></div><div class="java-header"><a href="http://doc.akka.io/docs/akka/snapshot/java/fault-tolerance.html">Java</a></div></div>
	            	<div class="scala-codebox">
<pre class="prettyprint lang-scala linenums">
class Supervisor extends Actor {
  override val supervisorStrategy =
    OneForOneStrategy(maxNrOfRetries = 10, withinTimeRange = 1 minute) {
      case _: ArithmeticException      ⇒ Resume
      case _: NullPointerException     ⇒ Restart
      case _: Exception                ⇒ Escalate
    }

  val worker = context.actorOf(Props[Worker])

  def receive = {
    case n: Int => worker forward n
  }
}
</pre>

								</div>
	            	<div class="java-codebox">
<pre class="prettyprint lang-java linenums">
class Supervisor extends UntypedActor {

  private SupervisorStrategy strategy = new OneForOneStrategy(
    10, Duration.create("1 minute"), new Function&lt;Throwable, Directive&gt;() {
      @Override
      public Directive apply(Throwable t) {
        if (t instanceof ArithmeticException) return resume();
        else if (t instanceof NullPointerException) return restart();
        else return escalate();
      }
    });

  @Override
  public SupervisorStrategy supervisorStrategy() {
    return strategy;
  }

  ActorRef worker = context.actorOf(Props.create(Worker.class));

  public void onReceive(Object message) throws Exception {
    if (message instanceof Integer) worker.forward(message, getContext());
  }
}
</pre>
								</div>
	            </div>
            </div>
	        </div>
	        <div id="shade"></div>
	    </div>
		</div>
	</div>
</div>
-->
<div class="darker-strip">
	<div class="container pad">

		<div class="row normal">
			<div class="span12">
				<div class="used-by-header"><span class="text">SELECTION OF PRODUCTION USERS</span></div>
				<div class="used-by-logos">
					{% include company-logos.html %}
				</div>
			</div>
		</div>

	</div>
	<div class="between-dark-strips"></div>
	<div class="container three-bars">
		<div class="row">

			<div class="span4">
				<h2><a href="https://twitter.com/#!/akkateam">@akkateam</a> on Twitter</h2>
				<a class="twitter-timeline"  href="https://twitter.com/akkateam" data-widget-id="390404144256659456" data-theme="light" data-link-color="#447281" data-chrome="noheader nofooter noborders transparent">Tweets by @akkateam</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>

			<div class="span4">
				<h2><a href="http://letitcrash.com">Team Blog</a></h2>
				<div id="blog-feed"></div>
				<span class="rss-icon"><a href="http://letitcrash.com/rss"><img src="{{ site.baseurl }}/resources/images/rss.png" height="20px" width="20px" /></a></span>
			</div>

			<div class="span4">
				<h2><a href="{{ site.baseurl }}/news">News</a></h2>
				{% include news-feed.html %}
				<span class="rss-icon"><a href="https://github.com/akka/akka.github.com/commits/master/news/_posts.atom"><img src="{{ site.baseurl }}/resources/images/rss.png" height="20px" width="20px" /></a></span>
			</div>

		</div>
	</div>
</div>
