<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon"  href="{{ site.baseurl }}/resources/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/stylesheets/style.css" type="text/css" />
    <link href="{{ site.baseurl }}/resources/stylesheets/highlight.css" type="text/css" rel="stylesheet" />
    
    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro" rel="stylesheet">
    
    <!-- highlight js -->
    <link href="{{ site.baseurl }}/resources/stylesheets/styles/github.css" type="text/css" rel="stylesheet" />
    <script src="{{ site.baseurl }}/resources/javascript/highlight.pack.js" type="text/javascript"></script>
    <script>hljs.initHighlightingOnLoad();</script>    
    
