{% for p in site.posts limit: 4 %}
	<li>
		{% if p.link-out %}
			<a href="{{ p.link-out }}" alt="{{ p.title }}">
		{% else %}
			<a href="{{ site.baseurl }}{{ p.url }}" alt="{{ p.title }}">
		{% endif %}
			<div class="newsDate">
				<p>{{ p.date | date: "%b" }}</p>
				<p>{{ p.date | date: "%d" }}</p>
				<p>{{ p.date | date: "%Y" }}</p>
			</div>
		{% if p.short %}
			<div class="newsContent">
				<h1>{{ p.title }}</h1>
				<p>{{ p.short }}</p>
			</div>
		{% else %}
			<div class="newsContent">
				<h1>{{ p.title }}</h1>
				<p>{{ p.content | strip_html | truncatewords: 30 }}</p>
			</div>
		{% endif %}
		</a>
	</li>
{% endfor %}