<header>
  <div class="row">
    <a class="logo" href="{{ site.baseurl }}/"><img class="svg-logo" src="{{ site.baseurl }}/resources/images/akka_full_color.svg" /></a>

    <ul class="desktopHeaderNav desktop-only">
      {%  include top-bar-links.html %}
    </ul>

    <ul class="mobileHeaderNavButton">
      <li><a href="#mobileHeaderNav" id="go-to-navigation" class="mini-toggler ss-icons ss-rows"></a></li>
    </ul>

    <nav id="mobileHeaderNav" class="hidden">
      <ul>
        {%  include top-bar-links.html %}
      </ul>
    </nav>
  </div>
</header>